body{
  background: #0f172a;
color : white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
section {
  padding: 70px 20px;
}
.hero-badge {
  display: inline-block;
  padding: 8px 18px;
  background: rgba(59,130,246,0.15);
  color: #3b82f6;
  border: 1px solid #3b82f6;
  border-radius: 30px;
  font-size: 14px;
  margin-bottom: 20px;
}
.hero{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  min-height: 80vh;
  margin-top: 0;
  padding-top: 20px;
  gap:80px;
}
.hero-content {
 flex: 1;
}
.hero-content h1{
font-size:4rem;
}
.hero-image {
  flex: 1;
 text-align: center;
 width:auto;
}
.hero-image img {
  width: 250px;
  height: 280px;
  border-radius: 50%;
  border: 4px solid #3b82f6;
  box-shadow: 0 0 30px rgba(59, 130, 246, 0.6);
  transition: 0.3s;
  animation: floatImage 5s ease-in-out infinite,
  glowPulse 3s ease-in-out infinite;
}
@keyframes floatImage {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}
@keyframes glowPulse {
  0%, 100% {
    box-shadow: 0 0 20px rgba(59,130,246,0.5);
  }

  50% {
    box-shadow: 0 0 40px rgba(59,130,246,0.9);
  }
}
.hero-image img:hover {
  transform: scale(1.05);
}
.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.hero-description{

max-width:550px;

}
.hero-buttons button {
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  width: 180px;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}
.hire-btn {
 background: linear-gradient(
    135deg,
    #3b82f6,
    #2563eb
  );
  color: black;
}

.hire-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(59,130,246,0.4);
}
.resume-btn {
  background: linear-gradient(
    135deg,
    #3b82f6,
    #2563eb
  );
  color: black;
}

.resume-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(59,130,246,0.4);
}
/* Hero Mobile Responsive */
@media (max-width: 768px) {

  .hero {
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 90px 20px 50px;
    gap: 20px;
    min-height: auto;
  }

  .hero-content {
    width: 100%;
    max-width: 100%;
    margin-top:-10px;
  }

  .hero-badge {
    display: inline-block;
    font-size: 13px;
    padding: 8px 14px;
    margin-bottom: 20px;
  }

  .hero-content h1 {
    font-size: 2.3rem;
    margin-bottom:10px;
  }

  .hero-content h2 {
    font-size: 1.5rem;
    min-height: 40px;
  }

  .hero-description,
  .hero-content h5 {
    font-size: 16px;
    line-height: 1.7;
    padding: 0 10px;
    margin-top: 15px;
  }

  .hero-image img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    margin-top: 15px;
  }

  .hire-btn,
  .resume-btn {
    width: 220px;
    max-width: 260px;
    height:52px;
    margin: auto;
    justify-content: center;
    font-size: 18px;
    padding: 14px;
  }

  .social-icons {
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
  }

  .social-icons a {
    font-size: 28px;
  }
}
/* NAVBAR */

.navbar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    align-items:center;
    padding: 0 50px;
    background:#111827;
    z-index:1000;
    box-sizing:border-box;
}

.logo{
    color:#4f46e5;
    font-size:3rem;
    font-weight:bold;
    margin:0;
    flex-shrink:0;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:30px;
}
.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
    font-size:20px;
}

.nav-links a:hover{
    color:#3b82f6;
}

.menu-icon{
    display:none;
    color:white;
    font-size:30px;
    cursor:pointer;
}
@media (max-width:768px){

.navbar{

padding:15px 20px;

}

.logo{

font-size:1.7rem;

}

.menu-icon{

display:block;

}

.nav-links{

position:absolute;
top:70px;
left:0;
width:100%;
background:#111827;

display:none;

flex-direction:column;
align-items:center;

padding:20px 0;

gap:20px;

}

.nav-links.active{

display:flex;

}

}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  text-align: right;
  color: skyblue;
}
.about p {
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.8;
  font-size: 17px;
}
#skills{
    max-width:1200px;
    margin:auto;
    padding:80px 20px;
    text-align:center;
}

.skills-grid{
    display:grid;
    grid-template-columns:repeat(3,minmax(320px,360px));
    justify-content:center;
    gap:30px;
}
.skill-box{
    background:#111827;
    border:1px solid rgba(59,130,246,.35);
    border-radius:20px;
    padding:30px;
    width:100%;
    max-width:360px;
    min-height:260px;
    box-sizing:border-box;
    transition:.35s;
}

.skill-box h3{
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:20px;
}
.skill-tags{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:12px;
    min-height:70px;
    align-content:flex-start;
}
.skill-box:hover{
    transform:translateY(-10px);
    box-shadow:0 18px 40px rgba(59,130,246,.35);
}

.skill-icon{
    width:70px;
    height:70px;
    margin:0 auto 20px;
    border-radius:50%;
    background:linear-gradient(135deg,#2563eb,#3b82f6);
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:28px;
}
.skill-tags span{
    background:linear-gradient(135deg,#2563eb,#3b82f6);
    color:white;
    padding:10px 18px;
    border-radius:25px;
    font-size:14px;
    font-weight:600;
    transition:.3s;
}

.skill-tags span:hover{
    transform:scale(1.08);
}

@media (max-width:768px){

.skills-grid{
    grid-template-columns:1fr;
    justify-items:center;
    gap:25px;
}

.skill-box{
    width:100%;
    max-width:360px;
    margin:0 auto;
}

}
.skill-box{
    width:90%;
    max-width:360px;
    margin:0;
}

}
}
.footer {
  text-align: center;
  padding: 30px;
  background: #111827;
  color: white;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 15px 0;
}

.footer-icons a {
  color: white;
  font-size: 28px;
  transition: 0.3s;
}

.footer-icons a:hover {
  transform: scale(1.2);
  color: #3b82f6;
}
.btn{
   transform: translateY(-10px) scale(1.1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
html {
  scroll-behavior: smooth;
}
#contact {
  padding: 50px;
  text-align: center;
}
.contact {
  padding: 50px;
  text-align: center;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px;
  cursor: pointer;
}
.certificate-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
    margin-top:50px;
}

.certificate-card{
    background:#111827;
    border:1px solid rgba(59,130,246,.35);
    border-radius:20px;
    padding:30px;
    text-align:left;
    transition:.35s;
    box-shadow:0 10px 25px rgba(0,0,0,.35);
}

.certificate-card:hover{
    transform:translateY(-10px);
    box-shadow:0 18px 40px rgba(59,130,246,.35);
}

.certificate-icon{
    width:60px;
    height:60px;
    background:linear-gradient(135deg,#2563eb,#3b82f6);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
    margin-bottom:20px;
    border: 2px solid #2563eb;
}

.certificate-title{
    color:white;
    font-size:24px;
    margin-bottom:15px;
}

.certificate-description{
    color:#cbd5e1;
    line-height:1.7;
    margin-bottom:20px;
}

.certificate-skills{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:20px;
}

.certificate-skills span{
    background:#2563eb;
    color:white;
    padding:8px 14px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}

.certificate-year{
    color:#60a5fa;
    font-weight:600;
}

@media(max-width:768px){

.certificate-container{
    grid-template-columns:1fr;
}

.certificate-card{
    max-width:350px;
    margin:auto;
}

}
h1,
h2 {
  color: #501bcb;
  text-shadow: 0 0 30px rgba(59, 130, 246, 0.6);
  margin-top: 0;
}
h5{
  text-shadow : 0 0 30px rgba(59, 130, 246, 0.6);
}
.social-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  color:green;
}

.social-links a {
  font-size: 35px;
  color: #2563eb;
}

.skill {
  margin: 20px 0;
}

.progress {
  width: 100%;
  height: 15px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
}
#projects {
  padding: 90px 20px;
  text-align: center;
}
.projects-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
    margin-top:50px;
}

.project-card{
    background:#111827;
    border:1px solid rgba(59,130,246,.35);
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.35);
    transition:.35s;
    max-width:360px;
    margin:auto;
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 18px 40px rgba(59,130,246,.35);
}

.project-card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.project-content{
    padding:20px;
    text-align:center;
}

.project-content h3{
    color:#fff;
    font-size:24px;
    margin-bottom:12px;
}

.project-tech{
    color:#60a5fa;
    font-size:15px;
    margin-bottom:20px;
}

.project-buttons{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.project-buttons a{
    text-decoration:none;
    background:linear-gradient(135deg,#2563eb,#3b82f6);
    color:#fff;
    padding:12px;
    border-radius:12px;
    font-weight:600;
    transition:.3s;
}

.project-buttons a:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(37,99,235,.35);
}

@media(max-width:768px){

.project-card{
    width:100%;
    max-width:350px;
}

.project-card img{
    height:170px;
}

}
section-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #3b82f6;
  text-shadow: 0 0 30px rgba(59, 130, 246, 0.6);
}
#about h2 {
  font-size: 3.2rem;
}
.contact-container{
    max-width:700px;
    margin:auto;
    background:#111827;
    padding:40px;
    border-radius:24px;
    border:1px solid rgba(59,130,246,.3);
    box-shadow:0 15px 40px rgba(0,0,0,.35);
}
input,
textarea{

width:100%;
padding:18px 20px;

background:#1f2937;

border:2px solid transparent;

border-radius:14px;

color:white;

font-size:17px;

transition:.3s;

outline:none;

margin-bottom:20px;

}
input::placeholder,
textarea::placeholder{

color:#9ca3af;

}

input:focus,
textarea:focus{

border-color:#3b82f6;

background:#111827;

box-shadow:0 0 15px rgba(59,130,246,.35);

}
.contact-btn{

width:100%;

padding:18px;

border:none;

border-radius:14px;

font-size:18px;

font-weight:700;

cursor:pointer;

background:linear-gradient(135deg,#2563eb,#3b82f6);

color:white;

transition:.35s;

}
.contact-btn:hover{

transform:translateY(-4px);

box-shadow:0 12px 25px rgba(37,99,235,.45);

}
@media(max-width:768px){

.contact-container{

padding:25px 18px;

}

.contact-info{

display:flex;

justify-content:space-between;

flex-wrap:wrap;

gap:20px;

margin-bottom:35px;

}

.info-box{

flex:1;

min-width:180px;

background:#1f2937;

padding:20px;

border-radius:15px;

text-align:center;

}
#contact h2{

font-size:3rem;

margin-bottom:10px;

}

.contact-subtitle{

color:#9ca3af;

margin-bottom:35px;

font-size:18px;

}
}
#skills h2,
#projects h2,
#Education h2,
#certificates h2,
#contact h2 {
  font-size: 2.5rem;
}
#education{
    padding:80px 8%;
    text-align:center;
}

#education h2{
    font-size:55px;
    color:#4f46e5;
    margin-bottom:60px;
    text-shadow:0 0 20px rgba(30, 123, 210, 0.4);
}
.education-card{
    background:#111827;
    border:2px solid #3b82f6;
    border-radius:18px;
    padding:30px;
    height:220px;
    transition:.3s;
    box-shadow:0 10px 25px rgba(0,0,0,.35);
}

.education-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(59,130,246,.35);
}
.education-container{
  display: grid;
  grid-template-columns: repeat(3, 320px);
  justify-content: center;
  gap:30px;
  min-height: 140px;
}
.edu-icon{
    font-size:42px;
    color:#3b82f6;
    margin-bottom:15px;
}
.education-card h3{
    color:#fff;
    font-size:28px;
    margin-bottom:15px;
}

.education-card h4{
    color:#d1d5db;
    font-size:20px;
    margin-bottom:12px;
    font-weight:500;
}

.education-card p{
    color:#60a5fa;
    font-size:18px;
    font-weight:bold;
}
@media (max-width:992px){

.education-container{
grid-template-columns:repeat(2,320px);
}

}

@media (max-width:700px){

.education-container{
grid-template-columns:320px;
}
}